/* Головна сторінка */

.message {
    display: flex;
    align-items: center;
}

.headerContacts>div a {
    display: flex;
    align-items: center;
}

.headerContacts>div i {
    margin-right: 10px;
}

.headerContacts {
    display: flex;
    align-items: center;
    flex: 33.33%;
}

.headerContacts i {
    margin-right: 5px;
}

.headerContacts a {
    text-decoration: none;
    font-weight: 600;
}

.notice>div {
    flex: 33.33%;
}

.message {
    justify-content: center;
}

.headerPhone {
    margin-right: 20px;
}

.headerMedia {
    display: flex;
    justify-content: flex-end;
}

.headerMedia i {
    font-size: 22px;
    margin-right: 10px;
}

.headerContacts i {
    font-size: 18px;
}

.notice {
    padding: 0.8125rem 1rem 0.8125rem 1rem;
}

.homepageSlider {
    position: relative;
}

.homepageSlider img {
    filter: brightness(0.6);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headerSliderContent {
    position: absolute;
    left: 0;
    bottom: 100px;
}

.headerSliderTitle {
    font-weight: 700;
    color: white;
    font-size: 66px;
}

.headerVideo {
    z-index: 1;
    height: 95vh;
}

.notice {
    z-index: 10;
}

.headerVideo .swiper-slide {
    width: 100%;
    min-width: 100%
}

.swiper {
    height: 100%;
}

.headerSliderDesc {
    color: white;
    font-size: 20px;
    margin-top: 10px;
    width: 80%;
    max-width: 900px;
    line-height: 1.4;
}

.headerSliderContent {
    padding-left: 100px;
}

.swiperNav .container {
    width: 100%;
    max-width: unset;
}

.homepageSlider .swiperNav {
    position: absolute;
    right: 50px;
    bottom: 20px;
}

.swiperNav {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    display: flex;
    justify-content: flex-end;
    left: unset !important;
}

.headerSliderContent button {
    margin-top: 10px;
    cursor: pointer;
    border: none;
}

.navbarLinks a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
    transition: 0.3s;
}

.navbarLinks a:hover {
    opacity: 0.7;
}

.navbarBookButton {
    font-family: 'Greycliff';
    letter-spacing: 2px;
    font-weight: 700;
}

.aboutKafedra {
    padding-top: 96px;
    padding-bottom: 96px;
}

.roomsBlock h1 {
    width: 500px;
    font-size: 46px;
}

.kafedraOwner {
    width: 300px;
    height: auto;
}

.kafedraInfo {
    padding: 20px;
    background: var(--YellowColor);
    position: relative;
    bottom: 4px;
}

.kafedraOwner img {
    width: 100%;
    min-height: 400px;
    height: 100%;
    object-fit: cover;
}

.kafedraOwnerName {
    font-family: 'Greycliff';
    font-weight: 700;
    line-height: 1.15;
    color: var(--BlueColor);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.kafedraOwnerRole {
    opacity: 0.7;
    text-align: center;
}

.kafedraInfo p {
    margin-top: 0;
}

.kafedraWorkers .kafedraOwnerRole {
    margin-top: 10px;
}

.kafedraWorkers {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.kafedraWorkers .kafedraOwner {
    width: 30%;
    margin-bottom: 120px;
}

.headerPhone {
    padding-left: 20px;
}

.headerAdvantagesBlock {
    text-align: left;
}

.headerAdvantagesTitle {
    font-size: 56px;
}

.headerAdvantagesDesc {
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
}

.headerKafedraSpec {
    font-size: 26px;
    font-weight: 700;
    margin-top: 10px;
}

.headerKafedraSpecName {
    font-size: 22px;
    margin-top: 10px;
}

.roomListTitle hr {
    background: #002339;
}

.advantages {
    padding-top: 96px;
    padding-bottom: 96px;
}

.advantagesList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.advantagesItem {
    height: 200px;
    background: #F5F4F2;
    padding: 30px;
    border-radius: 10px;
    transition: 0.3s;
}

.advTitle {
    margin-top: 10px;
    font-size: 36px;
    font-weight: 700;
    transition: 0.3s;
    color: var(--BlueColor);
}

.advDesc {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    transition: 0.3s;
    color: var(--BlueColor);
}

.advantagesItem i {
    font-size: 50px;
    transition: 0.3s;
    color: var(--BlueColor);
}

.advantagesItem:hover {
    background: var(--BlueColor);
}

.advantagesItem:hover .advTitle .advDesc .advantagesItem>i {
    color: white;
}

.advantagesItem:hover .advTitle {
    color: white;
}

.advantagesItem:hover .advDesc {
    color: white;
}

.advantagesItem:hover i {
    color: white;
}

.footerTopStay>p {
    font-family: 'Greycliff';
    letter-spacing: 2px;
}

.footerTopShop>p {
    font-family: 'Greycliff';
    letter-spacing: 2px;
}

@media (max-width: 1240px) {
    .roomsBlock p {
        width: 100%;
    }
    .roomsBlock h1 {
        width: 100%;
    }
}

@media (max-width: 1025px) {
    .navbarHamburger {
        width: 50px;
    }
    .navbarLinks {
        width: auto;
    }
    .notice>div {
        flex: unset;
    }
    .notice {
        justify-content: space-between;
    }
    .headerSliderContent {
        padding-left: 50px;
    }
    .headerSliderContent {
        bottom: 50px;
    }
    .headerSliderTitle {
        font-size: 46px;
    }
    .headerSliderDesc {
        font-size: 18px;
    }
    .roomsBlock>div {
        max-width: 60%;
    }
    .kafedraWorkers .kafedraOwner {
        width: 48%;
    }
}

@media (max-width: 769px) {
    .navbarLinks li:not(.contactButton) {
        display: none;
    }
    .homepageSlider .swiper-slide {
        width: 100% !important;
    }
    .headerSliderContent {
        padding-left: 0px;
    }
    .headerAdvantagesDesc {
        text-align: left;
    }
    .roomsBlock {
        display: block;
    }
    .roomsBlock>div {
        max-width: 100%;
    }
    .roomsBlock p {
        margin-bottom: 0px;
    }
    .advantagesList {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 491px) {
    .notice {
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .notice {
        height: auto;
    }
    .notice>div {
        flex: unset;
        margin-top: 10px;
    }
    .headerContacts {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .message {
        width: 100%;
    }
    .headerMedia {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .navbarBookButton {
        width: 140px;
        height: 50px;
        position: relative;
        right: 10px;
    }
    .headerSliderDesc {
        color: white;
        font-size: 20px;
        margin-top: 10px;
        width: 100%;
        max-width: 900px;
        line-height: 1.4;
        font-size: 16px;
    }
    .headerAdvantagesBlock {
        width: 100%;
    }
    .kafedraWorkers .kafedraOwner {
        width: 100%;
    }
    .advantagesItem {
        height: auto;
    }
}

@media (max-width: 430px) {
    .advTitle {
        font-size: 30px;
    }
    .advDesc {
        font-size: 14px;
    }
}

@media (max-width: 391px) {
    .headerPhone {
        padding-left: 0px;
    }
}